html {
  box-sizing: border-box;

  body {
    margin: 0;
    min-height: 100vh;
    background: rgb(146, 143, 143);
    color: #fff;
    font-family: 'Courier New', 'Helvetica Neue',sans-serif;
    font-weight: bold;
    user-select: none;

    #container {
      // 50px * 2 + 10 * 2
      // width: 120px;
      margin: 16px auto;
      // background-color: pink;

      #timer {
        margin-bottom: 8px;
        text-align: right;
        font-size: 20px;
      }

      #board {
        list-style: none;
        margin: 0 0 8px;
        padding: 10px;
        background-color: rgb(161, 32, 32);
        border-radius: 4px;
        display: flex;
        flex-wrap: wrap;

        .pressed {
          background-color: rgb(161, 157, 157);
          box-shadow: none;
          margin-top: 9px;
          margin-bottom: 1px;
        }

        li {
          background-color: #00aaff;
          width: 40px;
          height: 40px;
          margin: 5px;
          cursor: pointer;
          border-radius: 4px;
          line-height: 40px;
          text-align: center;
          box-shadow: 0 4px 0 #0088cc;
        }
      }

      #btn {
        background-color: #f44336;
        cursor: pointer;
        padding: 8px;
        border-radius: 4px;
        text-align: center;
        box-shadow: 0 4px 0 #d1413e;

        &:active {
          margin-top: 12px;
          box-shadow: none;
        }
      }
    }
  }
}
